.track{
  width: 100%;
  margin: .75rem;
  padding: .25rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(107, 12, 12);
}

.title{
  display: flex;
  margin-left: 1rem;
  font-weight: bold;
}

.shortTitle{
  margin-left: 1rem;
  font-weight: bold;
  display: none;
}

.trackLink{ 
  text-decoration: none;
  color: rgb(194, 21, 21);
}

.featureContainer{
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.featureContainer > a {
  margin-left: 1rem;
  text-decoration: none;
  color: rgb(194, 21, 21);
  font-size: 12px;
}

.featureContainer > a:hover{
  text-decoration: underline;
}

.track:hover{
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(30, 30, 30, 0.6) 0%, rgba(114, 114, 114, 0.4) );
}

.track:hover .title{
  text-decoration: underline;
}

.track:hover .shortTitle{
  text-decoration: underline;
}

@media (max-width: 1775px) {
  .title{
    display: none;
  }
  .shortTitle{
    display: flex;
  }

  .track{
    width: 70%;
    margin: .50rem;
  }
}